.centerer {
	display: table-cell;
	margin: 0;
	padding: 0;

	text-align: center;
	vertical-align: middle;
}

.content {
	font-size: 70px;
	font-family: 'Bowlby One SC', cursive;
	color: #000;
	margin-top: -5%;
}

@media (max-width: 1219px) {
	.description-dot {
		visibility: hidden;
	}
}

@media (max-width: 992px) {
	.links-dot {
		visibility: hidden;
	}
}

.slides-navigation {
	margin-top: 150px !important; 
}

i {
	display: inline-block;
	width: 100%;
	text-align: center;
}

a:not(.next) {
	transition: color .5s;
}

a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #FFF;
}

.slides-pagination {
	margin-bottom: 10px;
}

.name {
	background-color: #766ABF;
}

.description {
	background-color: #4090DB;
}

.converter {
	background-color: #59BE60;
}

.tron {
	background-color: #FBF575;
}

.simon-says {
	background-color: #FFB347;
}

.resume {
	background-color: #E37971;
}

.links {
	background-color: #E493B9;
}
